.background{
    background-color: rgba(0,0,0,0);
    width: 1px;
    height: 1px;
}
.Card{
    margin: 0%;
    margin-right: auto;
    width: auto;
    width: 8em;
    box-shadow: 4px 4px 15px rgba(24, 24, 24, 0.5);
    height: auto;
    border-radius: 5px;
    backdrop-filter: blur(1px);
    background-color: rgba(130, 130, 130, 0.8);
    padding: 1px 15px;
    text-align: left;
    font-size: 1em;
}
.title{
    text-align: center;
    margin-top: 8px;
    text-decoration-line: none;
}
p{
    margin-bottom: 10px;
}
.circle{
    text-decoration-line: underline;
}
.EG{
    color: darkviolet;
}
.OE{
    color:green;
    text-decoration-color: green;
}
.EE{
    color:maroon;
    text-decoration-color: maroon;
}
.EC{
    color:olive;
}
.PP{
    color:lightseagreen;
}
.UN{
    color: #555555;
}
.CU{
    color: blue;
}